@media only screen and (max-device-width: 480px) {
    .nav_tabs ul li {
    width: 54px;
    word-break:  normal;
}
.postprofile {
    display:  none;
}
div#log {
    position: relative;
    top: -8em;
    left: -6em;
}

.wrap {
    position:  absolute;
    bottom:  0;
}

div#regs {
    position:  relative;
    z-index:  999999;
    top: 9em;
}
.postbody {
    margin:  0px !important;
}

div#ultimosas {
    display:  block;
}

a.mod-recent-title {
    width: 100%;
}
.postbody div {
    width:  100% !important;
    overflow: auto;
}
label.tab_label {
    font-size:  10px !important;
}
nav.nav_tabs {
    height:  2950px;
}
    .smartbanner.smartbanner-android {
    display: none;
}
ul.navbar.navlinks {
    height: 101px;
}

.forabg li.header dl.icon {
    display: none;
}

.cdzrpg {
    left: 0;
    margin-left: -3em;
}

.module {
}

div#posters1 {
    left: 10px;
}

.mod-top-row {}

.mod-top {
    width: 100%;
}
    li.row {
    width: 100% !important;
}
  img#rendertopic {
    margin-top: 6em;
}
}
